.card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card span {
    position: absolute;
    right: 5px;
    top: 5px;
}

.card h1 {
    text-align: center;
}

.card p {
    text-align: justify;
}